.todo_item {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
}

.todo_item-completed {
    text-decoration: line-through;
    opacity: 0.3;
}